
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 30%;
    margin: 60px auto;
}

input{
    border: 1px solid red;
    height: 40px;
    width: 100%;
}

form button{
    background-color: #d88d8d;
    color: white;
    font-size: 16px;
    border: 1px solid #d88d8d;
    height: 40px;
    width: 100%;
    cursor: pointer;
}